<h3>Información de notas y cursos:</h3>

<div class="table-responsive">
    <table class="table table-striped table-hover align-middle">
      <thead class="table-dark">
        <tr>
          <th>ID Alumno</th>
          <th>DNI</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Curso</th>
          <th>Asignatura</th>
          <th>Nota</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ idAlumno }}</td>
          <td>{{ DNI }}</td>
          <td>{{ nombre }}</td>
          <td>{{ apellidos }}</td>
          <td>{{ curso }}</td>
          <td>{{ asignatura }}</td>
          <td>{{ nota }}</td>
        </tr>
    
      </tbody>
    </table>
  </div>