/* Estilos del contenedor principal */

#contenedor {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  position: relative; /* Agregado */
}
/* Estilos del encabezado */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

header img {
  margin: 10px;
  max-width: 100%;
}

/* Estilos de la barra de navegación */

nav {
  background-color: #333333;
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 10px;
}

nav li a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

nav li a:hover {
  background-color: #ffffff;
  color: #333333;
}

/* Estilos del router-outlet */

router-outlet {
  flex: 1;
}


/* Estilos del pie de página */


footer {
  background-color: #333333;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  position: absolute; 
  bottom: 0;
  width: 100%;
  max-width: 1200px;
  left: 50%;
  transform: translateX(-50%);
  display: ; /* Agregado */
}


.example-spacer {
  flex: 1 1 auto;
}