/* Estilos del contenedor principal */

#contenedor {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  position: relative; /* Agregado */
}
/* Estilos del encabezado */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

header img {
  margin: 10px;
  max-width: 100%;
}

/* Estilos de la barra de navegación */

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-column {
  flex: 1;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin-bottom: 5px;
}

a {
  color: #fff;
  text-decoration: none;
}

.subscribe-form {
  display: flex;
  margin-top: 10px;
}

input[type="email"] {
  flex: 1;
  padding: 5px;
  border-radius: 3px;
  border: none;
  margin-right: 5px;
}

button[type="submit"] {
  background-color: #ff5500;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

/* Estilos del router-outlet */

router-outlet {
  flex: 1;
}

.menu {
  background-color: #333;
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 10px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.menu a:hover {
  color: #f00;
}




.example-spacer {
  flex: 1 1 auto;
}